$font-family: "Interface","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
$font-family-heading: "Inconsolata", "Menlo", cursive;
$font-family-display: 'Fugaz One', cursive;
$font-family-title: "Menlo", "Inconsolata", cursive;
$font-size: 18px;
$font-size-mobile: 14px;
$font-size-smaller: 16px;
$font-size-buttons: 16px;
$font-size-buttons-small: 14px;
$line-height: 1.45em;

$color-text: #111;
$color-text-light: #747474;
$color-link: #111;
$color-link-hover: #333;
