<article>
  <header class="row vertical">
    <div class="col-12">
      <h1>Contact me</h1>
      <p>
        I enjoy exchanging ideas and building great things with others, reach out if there's anything we can create together.
      </p>
      <div class="for-recruiters">
        <h5>Are you a recruiter?</h5>
        <p>
          While I'm not currently looking to change my position, feel free to contact me.
        </p>
        <p>
          <strong>DO NOT</strong> contact me for Java, Ruby, .NET or *Salesforce technology-related jobs.
        </p>
        <p>
          <strong>DO NOT</strong> contact me for e-commerce consultacy jobs.
        </p>
        <p>
          <strong>DO</strong> contact me for anything JavaScript, Vue.js or security-related.
        </p>
      </div>
    </div>
  </header>
  <section class="row">
    <div class="col-12">
      <h4>Getting in touch</h4>
      <p>
        There are a few ways of reaching out to me. I prefer email, however you can also PM me on LinkedIn or Twitter.
      </p>
      <div class="actions">
        <a class="button primary" href="mailto:skdmxf@gmail.com">
          <i data-feather="mail"></i><span>Mail me</span>
        </a>
        <a class="button" href="https://www.linkedin.com/in/install/">
          <i data-feather="briefcase"></i><span>LinkedIn</span>
        </a>
        <a class="button" href="https://twitter.com/neculaesei">
          <i data-feather="twitter"></i><span>Twitter</span>
        </a>
        <a class="button" href="https://www.facebook.com/seclab.co">
          <i data-feather="facebook"></i><span>Facebook</span>
        </a>
        <a class="button" href="https://www.instagram.com/stonedsheep/">
          <i data-feather="instagram"></i><span>Instagram</span>
        </a>
      </div>
    </div>
  </section>
  <!-- <section class="row form">
    <div class="col-12">
      <form action="" method="post">
        <div class="col-12">
          <div class="flex row">
            <div class="field col-4">
              <input name="name" type="text" placeholder="Your name"/>
            </div>
            <div class="field col-4">
              <input name="email" type="text" placeholder="Your email address"/>
            </div>
          </div>
          <div class="flex row">
            <div class="field col-8">
              <input name="subject" type="text" placeholder="Subject"/>
            </div>
          </div>
          <div class="flex row">
            <div class="field col-8">
              <textarea>Hello Andrew,</textarea>
            </div>
          </div>
          <div class="flex row">
            <div class="col-8">
              <button class="primary">Send mail</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section> -->
</article>