<section class="hero row">
  <div class="info col-6">
    <h1>Hi, I'm Andrew</h1>
    <p>
      <strong>Software engineer</strong>, <strong>JavaScript lover</strong> and <strong>security researcher</strong>.
    </p>
    <p>
      I work for <a target="_blank" href="http://ninesix.ro">NineSix</a> in Bucharest.
    </p>
    <div class="actions">
      <a class="button primary" href="http://blog.seclab.co">
        <i data-feather="file-text"></i><span>Read articles</span>
      </a>
      <a class="button secondary" href="/projects">
        <i data-feather="github"></i><span>Browse projects</span>
      </a>
      <a class="button link" href="/resume">
        <i data-feather="printer"></i><span>View resume</span>
      </a>
    </div>
  </div>
  <div class="col-6">
    <div class="term-widget">
      <div class="top-bar">rabbit@fsociety | ~</div>
      <div class="interactive dummy-cursor">
        <div class="line">
          <span class="text">Last login: <span class="term-ts">1 minute ago</span> on ttys000</span>
        </div>
        <div class="line">
          <span class="ps">➜</span>
          <span class="path">~</span>
          <span class="text">tail -f /var/log/seclab/visitor3301.log</span>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="js/terminal.js"></script>
