<article>
  <header class="row vertical">
    <div class="col-12">
      <h1>Resume</h1>
      <p>
        Here is a list of the companies I had the pleasure to work with in the past five years.
        <br/>
        For personal projects and open-source activity check the <a href="/projects"><strong>Projects</strong></a> page.
        <br/>
        For security acknowledgements check the <a href="/security"><strong>Security</strong></a> page.
      </p>
    </div>
  </header>
  <section class="row vertical">
    <div class="col-12">
      <div class="job">
        <h3>NineSix <span>(Jul 2017 - Present)</span></h3>
        <div>
          <i data-feather="tag"></i>
          Position: <span>Senior Software Engineer</span>
        </div>
        <div>
          <i data-feather="bookmark"></i>
          Description
          <p>
            This is my current job, we're building an awesome data-driven marketing platform.
            I am responsible for the front-end, which has been completely migrated to Vue.js from Angular 1.
          </p>
          <p>
            This job is awesome because I get to play with Vue every day.
          </p>
        </div>
        <div>
          <i data-feather="package"></i>
          Technologies
          <ul>
            <li>JavaScript: Vue.js (2.x), Node.js</li>
            <li>CSS: Sass, Bootstrap 4</li>
          </ul>
        </div>
        <div>
          <i data-feather="award"></i>
          Achievements
          <ul>
            <li>Rewrote the whole frontend to migrate from AngularJS 1.x to Vue.js 2.x</li>
          </ul>
        </div>
        <div>
          <i data-feather="layers"></i>
          Things learned
          <ul>
            <li>In-depth understanding of Vue.js 2.x</li>
            <li>Using various third party libraries (mxGraph 3.7.x, Chartist.js, Morris.js)</li>
          </ul>
        </div>
      </div>
      <div class="job">
        <h3>Optaros <span>(Dec 2016 - July 2017)</span></h3>
        <div>
          <i data-feather="tag"></i>
          Position: <span>Software Engineer</span>
        </div>
        <div>
          <i data-feather="bookmark"></i>
          Description
          <p>
            Optaros has been my first job in Romania, and also my first job in the e-commerce space. Here I've learned what it means to plan, build and maintain an online store.
          </p>
          <p>
            Even though I found e-commerce consultancy boring, I've gained a lot of experience in plenty of new areas.
          </p>
        </div>
        <div>
          <i data-feather="package"></i>
          Technologies
          <ul>
            <li>Platforms: Salesforce Commerce Cloud (Demandware), Magento 2</li>
            <li>JavaScript: Demandware Script, Node.js, Underscore, Electron, jQuery</li>
            <li>CSS: Less, Sass, Bootstrap 4</li>
            <li>Others: PHP, Python</li>
          </ul>
        </div>
        <div>
          <i data-feather="award"></i>
          Achievements
          <ul>
            <li>Cerfication: Certified Commerce Cloud Digital Developer</li>
            <li>Organized and promoted various internal activities for employees</li>
          </ul>
        </div>
        <div>
          <i data-feather="layers"></i>
          Things learned
          <ul>
            <li>Salesforce Commerce Cloud (Demandware) ecosystem, back-end and front-end development</li>
            <li>Magento 2 front-end development</li>
          </ul>
        </div>
      </div>
      <div class="job">
        <h3>RedWasp Cybersecurity Ltd. <span>(Mar 2016 - Sep 2016)</span></h3>
        <div>
          <i data-feather="tag"></i>
          Position: <span>CTO, Head of Security, co-founder</span>
        </div>
        <div>
          <i data-feather="bookmark"></i>
          Description
          <p>
            Having plenty of experience in penetration testing, I've co-founded a company that sold this as a service.
          </p>
          <p>
            I developed and managed the whole infrastructure behind it, automated security tests and raport generation, integrated open-source and commercial tools and did manual discovery and exploitation.
          </p>
          <p>
            We developed a lot of tools in-house.
          </p>
        </div>
        <div>
          <i data-feather="package"></i>
          Technologies
          <ul>
            <li>Node.js, Python, PHP</li>
          </ul>
        </div>
      </div>
      <div class="job">
        <h3>Airtame <span>(Apr 2014 - Mar 2016)</span></h3>
        <div>
          <i data-feather="tag"></i>
          Position: <span>Software Engineer</span>
        </div>
        <div>
          <i data-feather="bookmark"></i>
          Description
          <p>
            Airtame has been, hands down, the coolest place I've had so far. Great project, great technologies and an amazing team.
          </p>
          <p>
            There are many areas I've worked on (as I joined the company early), from the desktop client which was first written in C++ (Qt) and later migrated to node-webkit and then Electron, to software than ran on the device (Airtame is a hardware project).
          </p>
        </div>
        <div>
          <i data-feather="package"></i>
          Technologies
          <ul>
            <li>C++: Qt, Node.js C++ addons</li>
            <li>JavaScript: Electron, Node.js, React</li>
            <li>Others: PHP</li>
          </ul>
        </div>
        <div>
          <i data-feather="award"></i>
          Achievements
          <ul>
            <li>Migrated the client from C++ (Qt) to JavaScript (node-webkit and later Electron)</li>
          </ul>
        </div>
        <div>
          <i data-feather="layers"></i>
          Things learned
          <ul>
            <li>Developing Electron + React apps</li>
            <li>Developing C++ addons for Node.js</li>
          </ul>
        </div>
      </div>
      <div class="job">
        <h3>IT-Kartellet <span>(Oct 2012 - Apr 2014)</span></h3>
        <div>
          <i data-feather="tag"></i>
          Position: <span>Software Engineer</span>
        </div>
        <div>
          <i data-feather="bookmark"></i>
          Description
          <p>
            IT-Kartellet kickstarted my career as a software developer. Here I worked on their the printing solution for universities, and I also did consultancy for various customers on Drupal and Moodle.
          </p>
        </div>
        <div>
          <i data-feather="package"></i>
          Technologies
          <ul>
            <li>Platforms: Drupal, Moodle</li>
            <li>.Net: C#, ASP</li>
            <li>Others: JavaScript, PHP</li>
          </ul>
        </div>
        <div>
          <i data-feather="award"></i>
          Achievements
          <ul>
            <li>Integrated AirPrint in the printing solution</li>
          </ul>
        </div>
        <div>
          <i data-feather="layers"></i>
          Things learned
          <ul>
            <li>C# - had no previous experience, got on the fast track</li>
            <li>Developing with Drupal and Moodle</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>