<article>
  <header class="row vertical">
    <div class="col-12">
      <h1>Security research</h1>
      <p>
        In my spare time I break stuff.
        <br/>
        During the years I managed to find vulnerabilities into some high-profile websites and services.
        <br/>
        Some of the companies were kind enough to add my name to their Hall of Fame page.
      </p>
    </div>
  </header>
  <section class="row vertical">
    <div class="col-12">
      <ul>
        <li>Microsoft - <a href="http://technet.microsoft.com/en-us/security/cc308575">http://technet.microsoft.com/en-us/security/cc308575</a></li>
        <li>Apple - <a href="https://support.apple.com/en-us/HT201536">https://support.apple.com/en-us/HT201536</a></li>
        <li>Spotify - <a href="https://www.spotify.com/dk/bounty/">https://www.spotify.com/dk/bounty/</a></li>
        <li>Netflix - <a href="https://help.netflix.com/en/node/6657">https://help.netflix.com/en/node/6657</a></li>
        <li>Others</li>
      </ul>
    </div>
  </section>
</article>